.idea

target/
/goose.iml
/goose.ipr
/goose.iws
config/development.scala
config/production.scala
config/test.scala
target/
log/
perf/run_ab
dist/
project/boot/
project/plugins/project/
project/plugins/src_managed/
*.log
*.tmproj
lib_managed/
*.swp
*.iml
*~
*#
.#*
.idea
.DS_Store
pmip/
.history
.cache
.classpath
.project
.settings/
Capfile.*
geoip-db/
config/consumer.properties
release/
*.sw*
.DS_Store
*~
